@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0a0a0a;
  --foreground: #ededed;
}

.title {
  font-family: var(--font-qwitcher), Arial, Helvetica, sans-serif;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-afacad), Arial, Helvetica, sans-serif;
}
